<%- include('partials/header') -%>
<!-- <div class="home-container">


<h1>Home</h1>

</div> -->

<div class="container-fluid" id="list-container">
  <div class="row" >
    <h2 >Companies</h2>
  </div>
  <hr>
  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-10  left">

      <ul class="list-ul">

          <%comp.forEach(function(data){%>
            <div class="li-parent">
              <li class="list-li"><%=data.name%></li>
              <a href="<%=data.retrievalName%>" target="_blank">Click Here</a>
            </div>
            <hr>

          <%});%>


      </ul>

    </div>
    <div class="col-lg-4 col-md-4 col-sm-2 right jobList-fill">
      <img src="/images/success.png" alt="">
    </div>
  </div>

</div>


<%- include('partials/footer') -%>
