<%- include('partials/header') -%>

  <div class="my-text-center wrong-login-container">
    <h2>Wrong Credentials Mate!</h2>
    <a href="/login" role="button" class="btn btn-success btn-lg btn-block credential-btn">Back to login</a>
  </div>

<%- include('partials/footer') -%>
